---
import { Icon } from "astro-icon/components"
---

<section class="overflow-hidden">
	<div class="container px-4 mx-auto">
		<div class="relative flex flex-wrap items-center justify-between pt-9 lg:py-9">
			<div class="w-full lg:w-auto mb-10 lg:mb-0">
				<Icon name="2EfficientLogo" class="h-36 w-36" />
			</div>
			<div class="w-full lg:w-auto mb-14 lg:mb-0">
				<ul class="lg:absolute lg:top-1/2 lg:left-1/2 lg:transform lg:-translate-x-1/2 lg:-translate-y-1/2 flex flex-wrap lg:justify-center lg:flex-nowrap lg:w-full">
					<li class="w-full lg:w-auto mb-8 mr-10 lg:mb-0"><a href="#home" class="inline-block font-medium text-base text-gray-400 hover:text-gray-500">Home</a></li>
					<li class="w-full lg:w-auto mb-8 mr-10 lg:mb-0"><a href="#about" class="inline-block font-medium text-base text-gray-400 hover:text-gray-500">About</a></li>
					<li class="w-full lg:w-auto mb-8 mr-10 lg:mb-0"><a href="#videoGallery" class="inline-block font-medium text-base text-gray-400 hover:text-gray-500">Video Gallery</a></li>
					<li class="w-full lg:w-auto mb-8 mr-10 lg:mb-0"><a href="#projects" class="inline-block font-medium text-base text-gray-400 hover:text-gray-500">Projects</a></li>
					<li class="w-full lg:w-auto"><a href="#contact" class="inline-block font-medium text-base text-gray-400 hover:text-gray-500">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="p-6 text-center bg-red-400">
		<p class="text-base text-slate-950 font-medium">II Efficient Media - All right reserved. © 2025</p>
	</div>
</section>
