---
import settings from "../data/home.json"

const { logos = settings.logoCloud, operatingTime = settings.bizInfo } = Astro.props
---

<section class="py-20 px-4 md:px-8">
	<div class="container mx-auto flex flex-col items-center text-center md:text-left">
		<!-- Title -->
		<h1 class="leading-none text-red-400 font-headings font-extrabold tracking-tight uppercase mb-12 sm:text-[12vw] text-[10vh] text-center sm:text-left">II EFFICIENT Media</h1>
		<!-- Bottom Info Grid -->
		<div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
			<!-- Left Info -->
			<!-- Right Subheading -->
			<div class="flex align-top sm:justify-start justify-center">
				<h2 class="font-bold text-red-400 uppercase tracking-wide self-end text-4xl sm:text-6xl sm:text-left">High Quality Content</h2>
			</div>
			<div class="font-body text-gray-400 space-y-2 sm:text-base text-xl flex flex-col align-middle justify-end sm:text-left">
				<p>Videotography</p>
				<p>{operatingTime}</p>
			</div>
		</div>
	</div>
</section>
