---
import { getCollection } from 'astro:content';
const projects = await getCollection('projects');
---

<div class="grid grid-cols-12 gap-3 lg:gap-5 mt-8">
  {projects.map((project) => (
    <a href={`/projects/${project.slug}`} class="card-v9 bg-accent rounded col-span-12 lg:col-span-8" data-theme="default" aria-labelledby={`card-title-${project.slug}`}>
      <div class="card-v9__content p-5 lg:p-8">
        <div class="pb-32 lg:pb-52 max-w-lg">
          <p class="text-sm lg:text-base text-gray-900/50 mb-1.5 lg:mb-2">Project</p>
          <h1 id={`card-title-${project.slug}`} class="text-2xl lg:text-4xl">{project.data.title}</h1>
        </div>
      </div>
    </a>
  ))}
</div>