---
import Posts from "../components/Posts.astro";
---
<div class="w-[calc(100%_-_2.5rem)] lg:w-[calc(100%_-_4rem)] mx-auto max-w-lg md:max-w-3xl lg:max-w-5xl xl:max-w-7xl mt-20">
  <div>
    <h2 class="text-left text-[6vw] lg:text-[6vw] text-textColor font-bold font-display capitalize leading-none">PROJECTS</h1>
    <h3 class="text-left text-[2vw] text-primary font-bold font-body">OUR MOST RECENT WORK</h3>
  </div>
  <!--Posts here-->
  <Posts />
</div>
