---
import "../styles/global.css"
import BaseHead from "../components/BaseHead.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body class="bg-slate-900">
		<header>
			<slot name="header" />
		</header>
		<main class="">
			<slot />
		</main>
		<footer>
			<slot name="footer" />
		</footer>
		<script is:inline>
			function videoCarouselComponent() {
				return {
					currentVideo: 0,
					videos: [],
					init(el) {
						try {
							this.videos = JSON.parse(el.dataset.videos)
						} catch (err) {
							console.error("Video Carousel JSON error:", err)
						}
					},
					nextVideo() {
						this.currentVideo = (this.currentVideo + 1) % this.videos.length
					},
					prevVideo() {
						this.currentVideo = (this.currentVideo - 1 + this.videos.length) % this.videos.length
					},
				}
			}
		</script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
